{% extends 'base.html' %}
<!---->
{% block title %}Registrar Empleado{% endblock %}
<!---->
{%block content %}

<div class="row justify-content-center">
  <div class="col-md-12 mb-2">
    <h1 class="text-center text-uppercase">
      Datos del Empleado
      <a
        style="color: #14ad47; float: right; padding: 0px 10px 0px 0px"
        href="{% url 'view_form_carga_masiva' %}">
        <i class="bi bi-person-fill-up"></i>
      </a>
      <hr />
    </h1>
  </div>
</div>

<div class="row justify-content-md-center">
  <form
    name="form_empleado"
    method="POST"
    action="{% url 'registrar_empleado' %}"
    class="row justify-content-md-center g-3"
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-5">
      <label for="nombre_empleado" class="form-label">
        Nombre del Empleado
      </label>
      <input type="text" name="nombre_empleado" class="form-control" required />
    </div>
    <div class="col-md-5">
      <label for="apellido_empleado" class="form-label">
        Apellido del Empleado
      </label>
      <input
        type="text"
        name="apellido_empleado"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="email_empleado" class="form-label">
        Email del Empleado
      </label>
      <input type="text" name="email_empleado" class="form-control" required />
    </div>
    <div class="col-md-5">
      <label for="edad_empleado" class="form-label"> Edad del Empleado </label>
      <select name="edad_empleado" class="form-select" required>
        {% for edad, edad_text in opciones_edad %}
        <option value="{{ edad }}">{{ edad_text }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-5">
      <label for="genero_empleado">Genero del Empleado</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genero_empleado"
          id="Masculino"
          value="Masculino"
          checked />
        <label class="form-check-label" for="Masculino"> Masculino </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genero_empleado"
          value="Femenino"
          id="Femenino" />
        <label class="form-check-label" for="Femenino"> Femenino </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="genero_empleado"
          value="Otro"
          id="Otro" />
        <label class="form-check-label" for="Otro"> Otro </label>
      </div>
    </div>
    <div class="col-md-5">
      <label for="salario_empleado" class="form-label">
        Salario del Empleado
      </label>
      <input
        type="text"
        name="salario_empleado"
        class="form-control"
        required />
    </div>

    <div class="col-md-5">
      <label for="" class="form-label"> Cargar foto del Empleado </label>
      <input
        type="file"
        name="foto_empleado"
        class="form-control form-control-sm"
        required />
    </div>
    <div class="col-md-5"></div>

    <div class="d-grid gap-2 col-8 mx-auto mt-5">
      <button class="btn btn-primary" type="submit">
        Registrar Empleado
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </form>
</div>
{% endblock %}
