{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}Crud Completo Django Python MySQL {% endblock %}
    </title>
    <link rel="icon" type="image/png" href="{% static 'imgs/favicon.png'%}" />

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap"
      rel="stylesheet" />

    <!--fontawesome-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

    {% block customCSS %} {% endblock %}
  </head>
  <body>
    <div
      class="dashboard container mt-5"
      style="width: 95% !important; padding: 50px 0px; background: #fff">
      {% include 'mensajes.html' %}
      <!---->

      {% block content %} {% endblock %}
      <a href="{% url 'listar_empleados' %}" id="bottomRightButton">
        Empleados
        <i class="bi bi-people-fill"></i>
      </a>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
    <script rc="{% static 'js/home.js' %}"></script>
    {% block customJS %} {% endblock %}
  </body>
</html>
